*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    background-position: center;
    background-size: cover;
    margin: 10px;
    max-width: 780px;
    min-width: 600px;
    min-height: 800px;
    background-color: white;
    min-height: 900px;
    /* position: absolute; */
}
input[type='file']{
    display:none;
}
.display-encarte{
    display: block;
}
#header-main{
    height: 200px;
    background-color: rgba(16, 16, 16, 0.219);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    background-size: cover;
    background-position: center;
    margin: 3px;
    border-radius: 8px;
}
#header-main>label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 100px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* background-color: rgb(116, 138, 130); */
    background-image: linear-gradient(to top right, white, rgb(116, 138, 130));
    cursor: pointer;
    box-shadow: 1px 1px 10px 2px black;
    transition: 0.2s;
}
#header-main>label:hover{
    transition: 0.2s;
    /* background-color: rgb(53, 53, 51); */
    background-image: linear-gradient(to top right, rgb(187, 177, 177), rgb(92, 101, 98));
}
.container{
    min-height: 600px;
    max-height: auto;
}
#view-encarte{
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
}
#encarte-main{
    flex: 1;
    min-width: 200px;
    background-color: rgba(16, 16, 16, 0.219);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    margin: 3px;
    border-radius: 8px;
}
#encarte-main>label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 100px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* background-color: rgb(116, 138, 130); */
    background-image: linear-gradient(to top right, white, rgb(116, 138, 130));
    cursor: pointer;
    box-shadow: 1px 1px 10px 2px black;
    transition: 0.2s;
}
#encarte-main>label:hover{
    transition: 0.2s;
    /* background-color: rgb(53, 53, 51); */
    background-image: linear-gradient(to top right, rgb(187, 177, 177), rgb(92, 101, 98));
}
#footer-main{
    height: 100px;
    background-color: rgba(16, 16, 16, 0.219);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    background-size: cover;
    background-position: center;
    margin: 3px;
    border-radius: 8px;
}
#footer-main>label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 100px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* background-color: rgb(116, 138, 130); */
    background-image: linear-gradient(to top right, white, rgb(116, 138, 130));
    cursor: pointer;
    box-shadow: 1px 1px 10px 2px black;
    transition: 0.2s;
}
#footer-main>label:hover{
    transition: 0.2s;
    /* background-color: rgb(53, 53, 51); */
    background-image: linear-gradient(to top right, rgb(187, 177, 177), rgb(92, 101, 98));
}


/*BOTAO*/

button, .button, a.button, input[type="submit"], input[type="file"],input[type="reset"], input[type="button"], label[type="button"] {
    border: none;
    border-radius: 3px;
    background-color: orange;
    font-size: 1rem;
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
    text-decoration: none;
    font-family: inherit;
    line-height: normal;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    transition: 0.5s;
    background-color: rgb(120, 95, 48);
}
.add{
    display: inline-block;
    transform: translateX(-450px) translateY(-650px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-image: linear-gradient(to top right,rgb(111, 171, 126),green);
    font-size: 50px;
    margin-bottom: 155px;
    cursor: pointer;
    transition: 3s;
}
.add:hover{
    transition: 3s;
    background-image: linear-gradient(to top right,rgb(111, 171, 126),rgb(44, 68, 44));
}
.remove{
    display: flex;
    flex-direction: column;
    transform: translateX(450px) translateY(-78.7rem);
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-image: linear-gradient(to top right,rgb(203, 93, 93), red);
    font-size: 50px;
    margin-bottom: 155px;
    cursor: pointer;
    transition: 3s;
}
.remove:hover{
    transition: 3s;
    background-image: linear-gradient(to top right,rgb(203, 93, 93), rgb(122, 27, 27));
}

input#valor{
    height: 30px;
    width: 50px;
    background-color: green;
}
#ajusteEncarte{
    display: none;
    position: absolute;
    background-color: red;
    width: 500px;
    height: 500px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    z-index: 9;
    float: 10px;
    transform: translateX(0px) translateY(250px);
}