*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url('../image/bgMercado.jpg');
    background-size: cover;
    background-position: center;

    /* background-color: rgb(195, 121, 26);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
/* section{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
} */
main{
    background-position: center;
    background-size: cover;
    margin: 10px;
    max-width: 950px;
    background-color: white;
    min-height: 1010px;
    width: 950px;
    height:100%;
    box-shadow: 5px 5px 200px 50px rgb(236, 203, 152);
    border: solid 1px black;
}
h6{
    margin: 0;
    font-size: 18px;
}
input{
    height: 40px;
    font-size: 30px;
}
.display-encarte{
    display: block;
}
#header-main{
    height: 200px;
    background-color: rgba(16, 16, 16, 0.219);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    background-size: cover;
    background-position: center;
    margin: 3px;
    border-radius: 8px;
}
#header-main>img{
    height: 100%;
    width: 100%;
}
#header-main>label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 100px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to top right, white, rgb(116, 138, 130));
    cursor: pointer;
    box-shadow: 1px 1px 10px 2px black;
    transition: 0.2s;
}
#header-main>label:hover{
    transition: 0.2s;
    background-image: linear-gradient(to top right, rgb(187, 177, 177), rgb(92, 101, 98));
}
.container{
    min-height: 700px;
}
#view-encarte{
    display: flex;
    flex-wrap: wrap;
    min-height: 245px;
    background-color: white;
}
#encarte-main{
    flex: 1;
    min-width: 200px;
    max-height: 240px;
    /* background-color: rgba(16, 16, 16, 0.219); */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    /* background-image: url('../image/s.png'); */
    background-size: cover;
    background-position: center;
    min-height: 200px;
    border-radius: 3px;
    margin: 3px;
}
#encarte-main>#nomeProduto{
    position: absolute;
    transform: translateX(-50px) translateY(18px);
    width: 240px;
    height: 50px;
    text-align: center;
    color: black;
    /* padding-top: 20px; */
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
    /* background-color: blue; */
}
#encarte-main>img{
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}
#valorEnc{
    /* position: relative;
    transform: translateY(20px) translateX(40px); */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* mix-blend-mode: multiply; */
}
#valorEnc>img{
    width: 170px;
    z-index: 3;
    margin-bottom: 30px;
    margin-right: 0px;
}
#valorEnc>div{
    /* display: flex; */
    position: absolute;
    z-index: 9;
    color: black;
    /* transform: translateY(5px) translateX(5px); */
    width: 40px;
    font-size: 40px;
    font-weight: bold;
    line-height: 30px;
    flex-wrap: wrap;
    padding-bottom: 19px;
}
#ajusteEncarte{
    display: none;
    position: absolute;
    background-color: green;
    background-image: linear-gradient(to top right, rgb(49, 56, 49) , rgb(135, 135, 127) 20%, rgb(49, 56, 49) 40%);
    width: 500px;
    height: 550px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    z-index: 999;
    float: 10px;
    transform: translateX(0px) translateY(250px);
    box-shadow: inset 1px 1px 5px 2px rgb(171, 162, 162);
    padding: 20px;
}
#ajusteEncarte>div{
    padding: 10px;
    margin: 10px;
}
#ajusteEncarte>h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.formatoPreco{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formatoPreco>div>label>#valorPreco{
    width: 100px;
    font-size: 25px;
}
#formPreco>label>#formProd{
    margin-left: 10px;
    width: 170px;
    font-size: 25px;
}

#encarte-main>label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 100px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(to top right, white, rgb(116, 138, 130));
    cursor: pointer;
    box-shadow: 1px 1px 10px 2px black;
    transition: 0.2s;
}
#encarte-main>label:hover{
    transition: 0.2s;
    background-image: linear-gradient(to top right, rgb(187, 177, 177), rgb(92, 101, 98));
}
#footer-main{
    margin-bottom: -18px;
    background-color:white;
    display: flex;
    flex-direction: column;
}
#footer-area-1{
    display: flex;
    align-items: center;
    background-color: #000000;
    font-size: 35px;
    font-weight: bold;
    height: 65px;
    padding: 0 10px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#footer-area-2{
    display: flex;
    align-items: center;
    background-color: #B7B7B7;
    font-size: 30px;
    font-weight: bold;
    height: 65px;
    padding: 0 10px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#ajusteCor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 950px;
    height: auto;
    max-width: 950px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 25px 10px 10px 10px;
    background-color: rgba(240, 255, 255, 0.508);
    box-shadow: 0px 0px 10px 1px black;
}
#ajusteCor>h3{
    text-decoration-line: underline;
    font-size: 45px;
    letter-spacing: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#box-corEncarte{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
#ajusteCor>.boxAjuste{
    width: 100%;
    display: flex;
    justify-content: center;
}
#footer-fundo-1, #footer-fundo-2{
    margin: 30px 0px 30px 10px;
    background-color: rgba(161, 164, 164, 0.508);
    color: black;
    padding: 10px;
    font-size: 20px;
    width: 50%;
}
.cores-ajust{
    display: flex;
    justify-content: space-around;
}
.cores-ajust>label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxAjuste>input[type="number"]{
    width: 60px;
}
input>#corBGFooter1{
    border-radius: 100%;
    background-color: white;
}
input>#corBGFooter2{
    border-radius: 100%;
    background-color: white;
}

input[type="color"]{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
#formFooter{
    margin-top: 30px;
    border: none;
    margin-bottom: -18px;
    background-color:rgba(255, 255, 255, 0);
    width: 100%;
}
#formFooter>h4{
    background-color: rgba(255, 255, 255, 0);
}
#footer1{
    width: 100%;
    background-color: #000000;
    color:white;
    font-size: 35px;
    font-weight: bold;
    height: 65px;
    padding: 0 10px 0 10px;
}
#footer2{
    width: 100%;
    background-color: #B7B7B7;
color:white;
    font-size: 30px;
    font-weight: bold;
    height: 65px;
    padding: 0 10px 0 10px;
}



/*BOTAO*/
button, input[type="file"], #btn-enc{
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(to top right, white, orange 80%);
    color: black;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    margin-top:10px;
    text-decoration: none;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
#btn-enc{
    padding: 10px;
}
button:hover, #btn-enc:hover,input[type="file"]:hover, #btn-print:hover{
    transition: 0.5s; background-image: linear-gradient(to top right, white, orange 50%);
    color: white;
    
}
button:hover{
    transition: 0.5s;
    background-color: rgb(120, 95, 48);
    color: white;
}
.btns{
    display: flex;
    width: 120%;
    /* justify-content: space-around; */
    justify-content: center;
}
#btn-print{
    color: white;
    font-size: 33px;
    background-image: linear-gradient(to bottom right, green 40%,white);
    box-shadow: 2px 2px 5px 1px black;
    /* margin-right: 100px; */
}
.btn-limpar{
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom right, red 40%,white);
    box-shadow: 2px 2px 5px 1px black;
}
.addBox{
    position: absolute;
    /* height: 300px; */
}
.add{
    transform: translateX(-520px) translateY(320px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-image: linear-gradient(to top right,rgb(111, 171, 126),green);
    font-size: 50px;
    margin-bottom: 185px;
    cursor: pointer;
    transition: 3s;
}
.add:hover{
    transition: 3s;
    background-image: linear-gradient(to top right,rgb(111, 171, 126),rgb(44, 68, 44));
}
.removeBox{
    position: absolute;
    /* height: 300px; */
}
.remove{
    transform: translateX(525px) translateY(320px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-image: linear-gradient(to top right,rgb(203, 93, 93), red);
    font-size: 50px;
    margin-bottom: 185px;
    cursor: pointer;
    transition: 3s;
}
.remove>img{
    width: 30px;
    height: 30px;
}
.remove:hover{
    transition: 3s;
    background-image: linear-gradient(to top right,rgb(203, 93, 93), rgb(122, 27, 27));
}
.addFooter{
    /* position: absolute; */
    /* transform: scale(1.3) translateX(350px) translateY(220px); */
    width: auto;
    height: 50px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    border-radius: 3px;
    background-image: linear-gradient(to top right,rgb(111, 171, 126),green);
    font-size: 30px;
    margin-bottom: 155px;
    cursor: pointer;
    transition: 3s;
}
input#valor{
    height: 30px;
    width: 50px;
    background-color: green;
}


@media(max-width:1930px){
    html{
        margin: 0;
        padding: 0;
    }
    body{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main{
        margin: 0;
        height: 100%;
        transform: scale(0.5) translateY(-500px);
    }
    .addBox{
        position: absolute;
        transform: scale(0.6) translateY(-1450px);
    }
    .removeBox{
        position: absolute;
        transform: scale(0.6) translateY(-1450px);
    }
    #ajusteEncarte{
        z-index: 999;
        transform: translateX(0px) translateY(-755px) scale(0.80);
    }
    #ajusteCor{
        transform: scale(0.60) translateY(-1220px);
        z-index: 9;
        font-size: 30px;
        height: auto;
    }
    #btn-print{
        z-index:1;
        transform: scale(0.6) translateY(-890px) ;
    }
}

@media(max-width:600px) {
    body{
        transform: translateX(30px);
        height: auto;
    }
    section{
        /* position: fixed; */
        z-index: 0;
        background-size: cover;
        background-position: left;
        width: 100%;
        height: 100%;
        /* transform: scale(0.7) translateY(-680px); */
    }
    main{
        z-index: 1;
        transform: translateX(0px) translateY(-300px) scale(0.35);
    }
    #ajusteEncarte{
        z-index: 999;
        transform: translateX(0px) translateY(510px) scale(0.80);
    }
    .addBox{
        position: fixed;
        z-index: 9;
        transform: translateX(28px) translateY(-885px) scale(0.44);
    }
    .removeBox{
        position: fixed;
        z-index: 9;
        transform: translateX(-30px) translateY(-885px) scale(0.44);
    }
    #ajusteCor{
        transform: scale(0.40) translateY(-2450px);
        z-index: 9;
        font-size: 30px;
        width: 780px;
        height: auto;
    }
    .addFooter{
        transform: scale(1.4) translateX(0px) translateY(100px);
    }
    #btn-print{
        z-index:1;
        transform: scale(0.4) translateY(-1720px) ;
    }

}