*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    background-position: center;
    background-size: cover;
    margin: 10px;
    max-width: 700px;
    min-width: 600px;
    min-height: 800px;
    background-color: blue;
    min-height: 900px;
    /* position: absolute; */
}
input[type='file']{
    display:none;
}
.display-encarte{
    display: block;
}
#header-main{
    height: 200px;
    background-color: red;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    background-size: cover;
    background-position: center;
}
#header-main>label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 100px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: yellow;
    cursor: pointer;
}
.container{
    min-height: 600px;
    max-height: 800px;
}
#view-encarte{
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
}
#encarte-main{
    flex: 1;
    min-width: 200px;
    background-color: red;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    background-size: cover;
    background-position: center;
}
#encarte-main>label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 100px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: yellow;
    cursor: pointer;
}
#footer-main{
    height: 100px;
    background-color: red;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    background-size: cover;
    background-position: center;
}
#footer-main>label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 100px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: yellow;
    cursor: pointer;
}


/*BOTAO*/

button, .button, a.button, input[type="submit"], input[type="file"],input[type="reset"], input[type="button"], label[type="button"] {
    border: none;
    border-radius: 3px;
    background-color: orange;
    font-size: 1rem;
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
    text-decoration: none;
    font-family: inherit;
    line-height: normal;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    transition: 0.5s;
    background-color: rgb(120, 95, 48);
}
.add{
    display: inline-block;
    transform: translateX(-400px) translateY(-650px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: green;
    font-size: 50px;
    margin-bottom: 155px;
    cursor: pointer;
}
.remove{
    display: flex;
    flex-direction: column;
    transform: translateX(400px) translateY(-78.7rem);
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: red;
    font-size: 50px;
    margin-bottom: 155px;
    cursor: pointer;
}