*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    margin: 10px;
    padding: 5px;
    width: 100vw;
}
fieldset{
    width: 40%;
}
#main{
    /* background-image: url('../../foto.jpeg'); */
    background-position: center;
    background-size: cover;
    margin: 10px;
    max-width: 700px;
    background-color: blue;
    height: 950px;
}
#header-main{
    height: 200px;
    background-position: center;
    background-size: cover;
}
#view-banner{
    max-height: 950px;
    height: 950px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    max-height: 650px;
}
#view-encarte{
    min-width: 200px;
    min-height: 235px;
    margin: 3px;
    flex: 1;
    max-height: 600px;
    background-position: center;
    background-size: cover;
    height: 200px;
}
#imgdiv{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
#view-encarte>img{
    width: auto;
    height: 100%;
}
#encart-prec{
    display: flex;
    align-items: end;
    justify-content: center;
}
#encart-prec>img{
    position: absolute;
    margin: 0 0 -15px -166px;
    width: 80px;
}
#encart-prec>p{
    margin:0;
    margin-left: 40px;
    align-items: end;
    z-index: 999;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 4px 4px black;
    color: blue;
    font-weight: bold;
}
#preco{
    border: none;
    padding: 5px;
    font-size: 18px;
}
#footer-main{
    background-color: red;
    height: 100px;
}
/* .fileUpload{
    padding: 15px 10px;
    border-radius: 3px;
    width: 200px;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
} */

button, .button, a.button, input[type="submit"], input[type="file"],input[type="reset"], input[type="button"], label[type="button"] {
    border: none;
    border-radius: 3px;
    background-color: orange;
    font-size: 1rem;
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
    text-decoration: none;
    font-family: inherit;
    line-height: normal;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
input[type="file"]:hover{
    transition: 0.5s;
    background-color: rgb(120, 95, 48);
}
button:hover{
    transition: 0.5s;
    background-color: rgb(120, 95, 48);
}